To do list:

- Rename columns to put years into titles
- Change data types to floats to perform mathematical operations
- Remove top row (can do these directly in the csvs)
- import matplotlib
- Remove rows with no data
- Columns showing difference in ncr, scr cr, nwp
- Plot biggest changes over time
- NCR against NWP
- Remove =equity from titles
- start putting markdown in
- readme

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Data-for-technical-assessment - Dataset 1 - General.csv')
df2 = pd.read_csv('Data-for-technical-assessment - Dataset 2 - Underwriting.csv')

In [3]:
df1

,Unnamed: 0,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,-13779.81563,0,0,0,0,1085.360139,0.00000000963584,0,0,...,69696.55713,0,0,0,0,2031.035937,4.81792,0,0,0
2,Firm 2,28.17805851,26.86504948,25.06443777,23.22644464,21.71855802,10.19031382,10.11357223,9.495234758,8.146470726,...,8.526315264,9.585694299,8.596011379,6.932900957,8.526285425,33.39118027,40.63728089,50.62161376,57.60232572,29.65239953
3,Firm 3,0,75.60968072,70.57873177,78.43278168,85.73582975,322.9551149,363.7823266,362.2908591,394.2959817,...,926.0656674,1016.401689,974.7338995,1032.497033,1214.913306,583.6506039,558.9168563,566.0732533,598.338699,540.0657468
4,Firm 4,22344.19992,23963.91071,25760.39016,25512.74884,24996.02104,16573.6448,16332.7488,17103.616,17219.24608,...,50485.0106,56618.70622,62935.24444,64005.54797,71237.711,16919.33853,16415.92304,18249.58483,20795.97601,22827.37003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Firm 321,0,0,-1.011367167,-6.599067444,24.63223356,0,0.2586211277,62.22758792,51.83094165,...,0,0.011563008,1463.469961,1454.672025,6555.130578,0,3.844470827,128.7470098,291.6642371,295.1649138
322,Firm 322,2092.156137,2084.124818,2022.212247,2103.048716,2029.697013,1711.220667,1641.309461,1329.471064,1399.098954,...,4356.540094,4196.807794,3563.157504,3562.263544,3749.420368,2106.880505,2532.760949,2580.812898,2262.969251,2135.697712
323,Firm 323,0,0,0,0,0,30.43855843,15.23262109,5.332069151,1.55137024,...,32.09342311,40.20432452,17.49872197,11.666018,9.091165395,40.33414351,61.74255325,64.1020754,61.51611212,4.10470008
324,Firm 324,23.41538016,22.65032118,24.2684646,25.81198401,26.54663806,32.09663254,30.20594832,29.51797697,29.95493489,...,214.7228774,199.9607863,231.2140384,222.590029,245.8322166,52.13351494,46.97623211,50.52258507,55.05767552,53.50750906
325,Firm 325,240.9998856,252.698937,332.5218482,294.8863319,0,209.1815238,223.8009301,256.8627234,240.2958971,...,1036.142704,1044.558032,1172.729179,1171.754721,0,285.1290833,339.5656463,334.2880329,326.8487561,0

In [4]:
df2

,Unnamed: 0,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.04667392158,0,0,0,0,7.674468412,0,0,...,0,56.81372458,0,0,0,0,68.21523853,0,0,0
2,Firm 2,39.24106662,35.9482489,29.00224403,0,0,163.5979066,195.5299333,201.5330184,0,...,0.7432654883,0.963450519,0.8145884735,0,0,0.9453936972,1.126743588,0.9391966963,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,17.12597573,75.53595118,119.4269952,35.88420397,6.567987821,-18.29709911,22.64014465,80.38378315,99.56912898,...,0.1439301409,0.147519022,0.09297064406,0.05478095731,-0.5462372937,0.8480319667,1.474778016,1.72796764,1.208822946,-10.73608376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Firm 321,4.928695253,4.808704532,4.809954083,4.798019929,3.465835736,0.3402066131,0.3863273342,0.3503445506,0.52248264,...,0.2119376645,0.2561179327,0.245704441,0.2362242873,0.2786735982,0.9780041003,1.002690696,0.9725396709,0.958443234,0.816869623
322,Firm 322,82.74198696,96.42695247,83.28934696,125.9950446,200.6946258,499.9185635,481.6495656,496.408111,528.4200141,...,0.3645427575,0.3721691094,0.3987701003,0.4203272257,0.373813055,0.8859563278,0.9609934663,0.9136867954,0.9432459038,0.9958332776
323,Firm 323,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
324,Firm 324,6.7394993,6.837801843,6.863463351,7.242600963,5.098239905,2.073365352,2.273636251,2.463059027,0.8003470803,...,0.4276349542,0.3716806962,0.3576270629,0.3308933769,0.3025767715,1.06313591,1.00694463,0.9828164928,0.9947123568,0.7800645272
325,Firm 325,1.198051964,1.376840447,3.804573014,2.301670014,1.338177649,15.2790724,14.48215827,13.71692668,13.02797493,...,0.04424784959,0.0401539999,0.03762707555,0.04356589459,0.0452832288,0.1646481841,0.1833756931,0.4279329434,0.2747331307,0.1804492976

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           325 non-null    object
 1   NWP (£m)                                             326 non-null    object
 2   NWP (£m) .1                                          326 non-null    object
 3   NWP (£m) .2                                          326 non-null    object
 4   NWP (£m) .3                                          326 non-null    object
 5   NWP (£m) .4                                          326 non-null    object
 6   SCR (£m)                                             326 non-null    object
 7   SCR (£m).1                                           326 non-null    object
 8   SCR (£m).2                                           326 non-null    object
 9   SCR (£m).3                                           326 non-null    object
 10  SCR (£m).4                                           326 non-null    object
 11  EoF for SCR (£m)                                     326 non-null    object
 12  EoF for SCR (£m).1                                   326 non-null    object
 13  EoF for SCR (£m).2                                   326 non-null    object
 14  EoF for SCR (£m).3                                   326 non-null    object
 15  EoF for SCR (£m).4                                   326 non-null    object
 16  SCR coverage ratio                                   326 non-null    object
 17  SCR coverage ratio.1                                 326 non-null    object
 18  SCR coverage ratio.2                                 326 non-null    object
 19  SCR coverage ratio.3                                 326 non-null    object
 20  SCR coverage ratio.4                                 326 non-null    object
 21  GWP (£m)                                             326 non-null    object
 22  GWP (£m).1                                           326 non-null    object
 23  GWP (£m).2                                           326 non-null    object
 24  GWP (£m).3                                           326 non-null    object
 25  GWP (£m).4                                           326 non-null    object
 26  Total assets (£m)                                    326 non-null    object
 27  Total assets (£m).1                                  326 non-null    object
 28  Total assets (£m).2                                  326 non-null    object
 29  Total assets (£m).3                                  326 non-null    object
 30  Total assets (£m).4                                  326 non-null    object
 31  Total liabilities (£m)                               326 non-null    object
 32  Total liabilities (£m).1                             326 non-null    object
 33  Total liabilities (£m).2                             326 non-null    object
 34  Total liabilities (£m).3                             326 non-null    object
 35  Total liabilities (£m).4                             326 non-null    object
 36  Excess of assets over liabilities (£m) [= equity]    326 non-null    object
 37  Excess of assets over liabilities (£m) [= equity].1  326 non-null    object
 38  Excess of assets over liabilities (£m) [= equity].2  326 non-null    object
 39  Excess of assets over liabilities (£m) [= equity].3  326 non-null    object
 40  Excess of assets over liabilities (£m) [= equity].4  326 non-null    object
dtypes: object(41)
memory usage: 104.5+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 46 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      325 non-null    object
 1   Gross claims incurred (£m)                      326 non-null    object
 2   Gross claims incurred (£m).1                    326 non-null    object
 3   Gross claims incurred (£m).2                    326 non-null    object
 4   Gross claims incurred (£m).3                    326 non-null    object
 5   Gross claims incurred (£m).4                    326 non-null    object
 6   Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    326 non-null    object
 7   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1  326 non-null    object
 8   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2  326 non-null    object
 9   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3  326 non-null    object
 10  Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4  326 non-null    object
 11  Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    326 non-null    object
 12  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1  326 non-null    object
 13  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2  326 non-null    object
 14  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3  326 non-null    object
 15  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4  326 non-null    object
 16  Pure net claims ratio                           326 non-null    object
 17  Pure net claims ratio.1                         326 non-null    object
 18  Pure net claims ratio.2                         326 non-null    object
 19  Pure net claims ratio.3                         326 non-null    object
 20  Pure net claims ratio.4                         326 non-null    object
 21  Net expense ratio                               326 non-null    object
 22  Net expense ratio.1                             326 non-null    object
 23  Net expense ratio.2                             326 non-null    object
 24  Net expense ratio.3                             326 non-null    object
 25  Net expense ratio.4                             326 non-null    object
 26  Net combined ratio                              326 non-null    object
 27  Net combined ratio.1                            326 non-null    object
 28  Net combined ratio.2                            326 non-null    object
 29  Net combined ratio.3                            326 non-null    object
 30  Net combined ratio.4                            326 non-null    object
 31  Pure gross claims ratio                         326 non-null    object
 32  Pure gross claims ratio.1                       326 non-null    object
 33  Pure gross claims ratio.2                       326 non-null    object
 34  Pure gross claims ratio.3                       326 non-null    object
 35  Pure gross claims ratio.4                       326 non-null    object
 36  Gross expense ratio                             326 non-null    object
 37  Gross expense ratio.1                           326 non-null    object
 38  Gross expense ratio.2                           326 non-null    object
 39  Gross expense ratio.3                           326 non-null    object
 40  Gross expense ratio.4                           326 non-null    object
 41  Gross combined ratio                            326 non-null    object
 42  Gross combined ratio.1                          326 non-null    object
 43  Gross combined ratio.2                          326 non-null    object
 44  Gross combined ratio.3                          326 non-null    object
 45  Gross combined ratio.4                          326 non-null    object
dtypes: object(46)
memory usage: 117.3+ KB